.profileScreen {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileScreen__body {
  width: 50vw;
  padding: 10px;
}

.profileScreen__body > h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.profileScreen__info {
  display: flex;
  width: 100%;
}

.profileScreen__info > img {
  display: block;
  height: 100px;
}

.profileScreen__details {
  width: 100%;
  margin-left: 10px;
}

.profileScreen__details > h2 {
  background-color: #585858;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
}

.profileScreen__signOut {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  background-color: #e50914;
  font-size: 1.3rem;
  height: 50px;
  margin-top: 1%;
  padding: 10px 20px;
  border-radius: 4px;
}

.profileScreen__details__plans > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #282c2d;
}

/* .profileScreen__body {
  background-color: red;
  /* display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  padding: 8%;
  max-width: 800px; 
}
*/

/* .profileScreen__body > h1 {
  font-size: 5rem;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info {
  display: flex;
  height: 100px;
}

.profileScreen__info > img {
  display: block;
  height: 100px;
}

.profileScreen__details {
  flex: 1;
  margin-left: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileScreen__details > h2 {
  background: #585858;
  height: 40%;
  padding: 10px;
  font-size: 1rem;
}

.profileScreen__signOut {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-top: 1%;
  padding: 10px 20px;
  background-color: #e50914;
  font-size: 1.5rem;
}

.profileScreen__details__plans > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #282c2d;
} */
